<div class="container">
    <div class="jumbotron">
        <h3>Cheap flight searcher</h3>
        <p>This travel tool finds the cheapest flights to a specific destination from airports around you!</p>
        <p>After typing an origin location, the tool finds airports within a 125 mile radius from you, then searches the cheapest flights to your specified destination and month of travel.</p>
    </div>
    <div class="xl-12 lg-12 md-12 sm-12">
        <form #flightForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group">
                <label>Location</label>
                <input name="location" required class="form-control" placeholder="Raleigh, North Carolina" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
            </div>
            <div class="form-group">
                <label>Airport destination</label>
                <input type="text" required name="destination" class="form-control" [(ngModel)]="searchModel.holder" (ngModelChange)="airportSearch($event)" placeholder="Seattle Tacoma International Airport">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let airport of airportData" (click)="setQuery(airport)">
                        {{ airport.name }}
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label>Month and year of travel</label>
                <input type="month" required name="time" class="form-control" min={{preDate}} max={{postDate}} [(ngModel)]="searchModel.time">
            </div>
            <div>
                <div *ngIf="lat != 0 && lng != 0 && searchModel.destination && searchModel.time; then thenBlock; else elseBlock">
                </div>
                <ng-template #thenBlock>
                    <button class="btn btn-primary" type="submit">Search for flights</button>
                </ng-template>
                <ng-template #elseBlock>
                    <button class="btn btn-primary" disabled type="submit">Search for flights</button>
                </ng-template>
            </div>
        </form>
    </div>
</div>