<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
    </div>
    <div class="xl-12 lg-12 md-12 sm-12">
        <form #flightForm="ngForm"(ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Location</label>
                <!-- <input type="text" name="location" class="form-control" [(ngModel)]="searchModel.location" placeholder="Raleigh, North Carolina"> -->
                <input name="location" class="form-control"  placeholder="Raleigh, North Carolina" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
            </div>
            <div class="form-group">
                <label>Airport destination</label>
                <input type="text" name="destination" class="form-control" [(ngModel)]="searchModel.destination" placeholder="LAX">
            </div>
            <div class="form-group">
                <label>Month and year of travel</label>
                <!-- pass values from angular to get current date -->
                <input type="month" name="time" class="form-control" min="2020-06" max="2021-06" [(ngModel)]="searchModel.time">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Search for flights</button>
            </div>
        </form>
    </div>
</div>


<!-- Form
    
    Google Locations to get GPS coordinates
    Airport destination (live search with mongodb)
    Month of travel (only extend a year from now on calendar)
 -->